.section_our_advantages {
  background-color: #92d3eb;
  text-align: center;
  padding: 45px 10px;
}
.section_our_advantages__headline {
  font-size: 42px;
  color: #000;
  font-weight: 700;
  font-family: "Comfortaa", cursive;
  letter-spacing: 0.5px;
  margin-bottom: 110px;
}
.section_our_advantages__wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 1100px;
  flex-wrap: wrap;
}
.card_wrapper {
  width: 315px;
  margin-bottom: 30px;
}
.card_icon {
  height: 100px;
  width: 100px;
  margin-bottom: 30px;
}
.card_headline {
  font-size: 30px;
  color: #000;
  font-weight: 700;
  font-family: "Comfortaa", cursive;
  margin-bottom: 25px;
}
.card_text {
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  font-family: "Comfortaa", cursive;
}
@media (max-width: 540px) {
  .section_our_advantages__headline {
    font-size: 32px;
    color: #000;
    font-weight: 700;
    font-family: "Comfortaa", cursive;
    letter-spacing: 0.5px;
    margin-bottom: 60px;
  }
}
